body, :root {
    margin: 0;
    width: 100%;
}
.header {
    display: flex;
    width: 100%;
    position: fixed;
    z-index: 10;
        
}
.logo {
    background-color: #FFFCFC;
}
.nav {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    
}
.nav-item {
    list-style: none;
    color: #FFFCFC;
    padding-left: 3rem;
    font-family: 'Rosario';
    font-style: italic;
    font-weight: 700;
    font-size: 36px;
    margin: 1rem;
}
.section {
    height: 100vh;
}
/*section1*/

.gallery-photo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 95%;
    position: relative;
    top: 10rem;
    margin: 0 auto;
    
}
.between {
    align-self: center;
}
.translate {
    animation: an 4s linear 1;
    transition: all 3s ease-out;
    transform: translateX(50vh);
    animation-timing-function: 4s;
}
.translate1 {

    animation: an 4s linear 1;
    transition: all 3s ease-out;
    transform: translateX(-50vh);
    animation-timing-function: 4s;
    
}
.gallery-photo:hover .translate {
    transform: translateX(0);
}
.gallery-photo:hover .translate1 {
    transform: translateX(0);
}
.animation {
    animation: an 2s linear 1;
    transition: all 2s ease-out;
    transform: translateX(-100vh);
    animation-timing-function: 1s;
        
}
.animation > div {
    padding-bottom: 2rem;
}
.animation1 > div {
    padding-bottom: 2rem;
}
.gallery-photo:hover .animation {
    transform: translateX(0);
}
.animation1 {
    animation: an 2s linear 1;
    transition: all 2s ease-out;
    transform: translateX(100vh);
    animation-timing-function: 1s;
    
}
.gallery-photo:hover .animation1 {
    transform: translateX(0);
}

/*section2*/ 

.flex {
    display: flex;
    justify-content: space-between;
    margin-top: 20rem;
}

.position-img {
    display: flex;
    margin-top: 4rem;
    margin-right: .5rem;
}

.img {

    position: relative;
      

}

.text {
    position: relative;
    text-align: center;
    font-family: 'Rosario';
    font-style: italic;
    font-weight: 700;
    font-size: 48px;
    
}

.img-style {
    padding-left: 5rem;
}
.animate {
    animation: animate 7s linear infinite;
}
@keyframes animate {
    from,
    to {
        top: 0;
        left: 0;
    }
    20% {
        top: 0;
        left: 28rem;
        transform: scale(.8);
    }
    40% {
        left: 28rem;
        top: 35rem;
    }
    60% {
        left: -28px;
        top:35rem;

    }
    80% {
        left: 0;
        top: 0;
    }

}
.anim {
    animation: anim 7s linear infinite;
}

@keyframes anim {

    from,
    to {
        top: 0;
        left: 0;
    }

    20% {
        top: -35rem;
        left: 0;
        transform: scale(.8);
    }

    40% {
        left: 28rem;
        top:-35rem;
    }

    60% {
        left: 28rem;
        top: 0;

    }

    80% {
        left: 0;
        top: 0;
    }

}
.anima {
    animation: anima 7s linear infinite;
}
@keyframes anima {

    from,
    to {
        top: 0;
        left: 0;
    }

    20% {
        top: 35rem;
        left: 0;
        transform: scale(.8);
    }

    40% {
        left: -28rem;
        top: 35rem;
    }

    60% {
        left: -28rem;
        top: 0;

    }

    80% {
        left: 0;
        top: 0;
    }

}
.an {
    animation: an 7s linear infinite;
}

@keyframes an {

    from,
    to {
        top: 0;
        left: 0;
    }

    20% {
        top: 0;
        left: -30rem;
        transform: scale(.8);
    }

    40% {
        left: -30rem;
        top: -35rem;
    }

    60% {
        left: 0;
        top: -35rem;

    }

    80% {
        left: 0;
        top: 0;
    }

}


/*section3*/
.experts {
    text-align: center;
    color: #000000;
    font-family: 'Rosario';
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    margin-top: 15rem;
}
.photo-exp {
    display: flex;
    justify-content: space-around;

}
.exp1 {
    background-image: url("./img/Rectangle\ 8.png");
    background-repeat: no-repeat;
    width: 22%;
    height: 700px;
    text-align: center;
    font-family: 'Volkhov';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    color: #FFFAFA;
    padding-top: 32rem;  

}
.exp2 {
    background-image: url('./img/Rectangle\ 12.png');
    background-repeat: no-repeat;
    width: 22%;
    height: 700px;
    text-align: center;
    font-family: 'Volkhov';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    color: #FFFAFA;
    padding-top: 35rem;
}
.exp3 {
    background-image: url('./img/Rectangle\ 13.png');
    background-repeat: no-repeat;
    width: 22%;
    height: 700px;
    text-align: center;
    font-family: 'Volkhov';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    color: #FFFAFA;
    padding-top: 35rem;

}
.exp4 {
    background-image: url('./img/Rectangle\ 9.png');
    background-repeat: no-repeat;
    width: 22%;
    height: 700px;
    text-align: center;
    font-family: 'Volkhov';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    color: #FFFAFA;
    padding-top: 35rem;
}
.form {
    display: flex;
    justify-content: space-around;
    margin-top: 10rem
}
.form_head {
    font-family: 'Rosario';
    font-style: italic;
    font-weight: 700;
    font-size: 64px;
    text-align: center;
}
.form-style {
    background-color: #E5E5E5;
    padding: 2rem;
}
.name {
    width: 18rem;
    height: 3rem;
    font-family: 'Rosario';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    margin: .5rem;
    padding: .5rem;
    
}
.message {
    width: 38rem;
    height: 10rem;
    margin: .5rem;
    font-family: 'Rosario';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    padding: .5rem;


}
.map {
    margin-top: 5rem;
    height: 35rem;
}
.footer {
    display: flex;
    justify-content: space-around;
    margin-top: 5rem;
}
.footer-item {
    text-align: center;
    text-decoration: none;
    color: #000000;
    font-family: 'Rosario';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
}
.a {
    text-decoration: none;
    color: #000000;
    font-style: italic;
}
